@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-primary-text font-montserrat;
  }
}

.input {
  @apply bg-transparent py-4 placeholder:hover:text-primary-text placeholder:active:text-primary-text placeholder:focus:text-primary-text placeholder:text-neutral-400 xl:placeholder:text-2xl xl:py-6 sm:placeholder:text-base placeholder:text-xs text-base xl:text-2xl md:text-lg w-full focus:outline-none;
}

@keyframes rotateWithTranslate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes loading {
  20% {
    background-position:
      0% 0%,
      50% 50%,
      100% 50%;
  }
  40% {
    background-position:
      0% 100%,
      50% 0%,
      100% 50%;
  }
  60% {
    background-position:
      0% 50%,
      50% 100%,
      100% 0%;
  }
  80% {
    background-position:
      0% 50%,
      50% 50%,
      100% 100%;
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: #474747 #1a1a1a; /* Thumb color, track color */
  cursor: none;
}

/* MOON ROTATION */
.rotate-slow {
  animation: rotateWithTranslate 600s linear infinite;
}

/* INPUT AUTOFILL STYLES */
input:-webkit-autofill,
textarea:-webkit-autofill {
  background-color: transparent !important;
  -webkit-text-fill-color: #fdf8f3 !important;
  font-family: inherit !important;
  font-size: inherit !important;
  transition:
    background-color 10000s ease-in-out 0s,
    color 0s !important; /* tohle zamezuje prohlizeci aby zmenil pozadi na svou vlastni defaultni barvu na 10000s, coz je dost dlouha doba na to, aby se to v podstate pro usera nikdy nestalo */
}

/* INPUT AUTOFILL STYLES FOR CHROME */
input:-internal-autofill-previewed,
textarea:-internal-autofill-previewed {
  -webkit-text-fill-color: #fdf8f3 !important;
  font-family: inherit !important;
  font-size: inherit !important;
}

.loader {
  width: 55px;
  aspect-ratio: 0.75;
  --c: no-repeat linear-gradient(theme(colors.neutral.200) 0 0);
  background:
    var(--c) 0% 50%,
    var(--c) 50% 50%,
    var(--c) 100% 50%;
  background-size: 20% 50%;
  animation: loading 1s infinite linear;
}

.react-datepicker__header {
  background-color: #a3a3a3;
  border-bottom: 1px solid #333;
}

.react-datepicker__day--selected {
  background-color: #cdcdcd;
  color: #000000;
}
